* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(../assets/landscape.webp);
    background-size: cover;
}

.snow {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-image: url(../assets/snow.webp);
    animation: neve;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 99;
}

@keyframes neve {
    from {
        background-position: bottom;
    }

    to {
        background-position: top;
    }
}